<h2 class="title is-4">Your Peaks</h2>

{{#if peaks.length}}
  <table class="table is-fullwidth">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Elevation (m)</th>
      <th>Lat</th>
      <th>Lng</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each peaks}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.elevation}}</td>
        <td>{{this.lat}}</td>
        <td>{{this.lng}}</td>
        <td>
          <a href="/peaks/{{_id}}/delete" class="button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No peaks yet. Add your first one below.</p>
{{/if}}
